.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/* .mainContainer{
  width: 100%;
  height: 100vh;
background-image: url(./images/white-painted-wall-texture-background.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
} */
#root {
	position: relative; /* make the parent container positioned */

	width: 100%;
	height: auto;
	background-image: url(./images/white-painted-wall-texture-background.png);
	/* opacity: 70%; */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* overflow-x: -1545px;
	overflow-y: 0px; */
}

.History {
	width: 100%;
	height: 100vh;
	background-image: url(./images/white-painted-wall-texture-background.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* .fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1s ease-in;
} */
@font-face {
	font-family: "a Atmospheric";
	src: url("../src/Atmospheric-rg4aL.ttf");
}
@font-face {
	font-family: "Segoe UI";
	src: url("../src/Segoe UI Bold.ttf");
}
@font-face {
	font-family: "Segoe UI Regular";
	src: url("../src/Segoe UI.ttf");
}
@font-face {
	font-family: "A Suls";
	src: url("../src/Suls22.ttf");
}
/* @import '../src/Atmospheric-rg4aL.ttf'; */
.WhatWeDo {
	width: 267px;
	height: 220px;
}
